.wrapper {
  width: 400px;
  margin: auto;
}

.input-phone {
  border: 1px solid #4CAF50;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  &:focus {
    border-color: #4CAF50;
  }
}

.create-chat-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition: .3s all;

  &:hover {
    background-color: #1B5E20;
  }
}